
<div class="devise-container">
<div class="signup-background">
<div class="padding-devise">

<h2>Sign up</h2>

<div class="margin-devise">
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
</>

<div class="margin-devise">
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", :class => "devise-box" %>
  </div>
</>

<div class="margin-devise">
  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password", :class => "devise-box" %>
  </div>
</>

<div class="margin-devise">
  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", :class => "devise-box" %>
  </div>
</>

<div class="margin-devise">
  <div class="actions">
    <%= f.submit "Sign up", :class => "devise-element" %>
  </div>
  </>

<% end %>

<div class="margin-devise">
<%= render "devise/shared/links" %>
</>

</div>

